/* General Class */

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navigation */

li {
    list-style: none;
}

li a, li a:visited, a:visited, a {
    color: black;
}

.navlist {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-start {
    display: flex;
    margin-left: 13px;
}

.nav-end {
    display: flex;
    margin-right: 13px;
}

.nav-grid {
    opacity: 40%;
    position: relative;
    top: -2px;
}

.nav-grid:hover {
    opacity: 60%;
}

.nav-grid:active {
    opacity: 90%;
}

.nav-user {
    opacity: 40%;
    position: relative;
    top: -10px;
}

.nav-user:hover {
    opacity: 60%;
}

.nav-user:active {
    opacity: 90%;
}

/* Google Logo */
.logo {
    display: flex;
    justify-content: center;
    height: 125px;
    width: auto;
    margin-top: 150px;
    margin-bottom: 25px;
}

/* Searchbar */

.searchbar {
    border: solid rgb(213, 213, 213) 1px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 25px;
    height: 48px;
    width: 582px;
}

.search-input {
    border: none;
    height: 46px;
    width: 455px;
    position: relative;
    left: 30px;
    top: -10px;
    z-index: 1;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.magnifying-glass {
    position: relative;
    top: -41px;
    left: 4px;
}

.microphone {
    position: relative;
    left: 503px;
    top: -61px;
}

.camera {
    position: relative;
    left: 537px;
    top: -81px;
}

.search-icons {
    opacity: 40%;
}

.search-icons:hover {
    opacity: 60%;
}

.search-icons:active {
    opacity: 90%;
}

/* Search Buttons */

button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f8f9fa;
    border-style: none;
    border-radius: 5px;
}

button:hover {
    border: 1px solid #cecece;
    cursor: pointer;
}

button:active {
    border: 1px solid #5482eb;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 190px;
}

/* Country Selector */

.country {
    background-color: #f3f3f1;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-bottom: 1px solid rgb(213, 213, 213);
}

.country a {
    color: #5a5d60;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    background-color: #f3f3f1;
    justify-content: space-between;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.footer-menu li a {
    color: #5a5d60;
}
